@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

body {
    background: url(assest/images/pexels-eberhardgross-1367192.jpg);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    z-index: 0;
}

.main {
    border: solid;
    width: 500px;
    height: 600px;
    z-index: 1;
    position: relative;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(225, 225, 225, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

.city {
    width: 100%;
    border-radius: 99px;
    padding: 10px 16px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 80px;
    margin-bottom: 20px;
}

.city:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city::placeholder {
    color: rgb(225, 225, 225, 0.75);
}

.searchbtn {
    position: absolute;
    top: 5%;
    left: 85%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.loactionIcon {
    position: absolute;
    top: 16%;
    left: 7%;
}

.loacation {
    position: absolute;
    top: 14%;
    left: 12%;
    font-size: 35px;
    font-weight: bold;
}

.date {
    position: absolute;
    top: 16%;
    left: 72%;
    font-size: 20px;
}

.weatherIcon {
    position: absolute;
    top: 20%;
    left: 2%;
}

.weatherIcon img {
    width: 200px;
    height: 200px;
}

.temp {
    position: absolute;
    top: 28%;
    right: 5%;
    font-size: 50px;
    font-weight: 500;
}

.tempText {
    position: absolute;
    top: 38%;
    right: 5%;
    font-size: 25px;
}

.humiIcon {
    position: absolute;
    top: 50%;
    left: 5%;
}

.humiIcon .material-symbols-outlined {
    font-size: 60px;  
    opacity: 60%;
    width: auto;      
    height: auto;
}

.humiText1{
    position: absolute;
    top: 50%;
    left: 17%;
    font-size: 28px;
    font-weight: 500;
    opacity: 90%;
}

.humiText2{
    position: absolute;
    top: 55%;
    left: 17%;
    font-size: 20px;
}